In [4]:
# Import the required libraries
import pandas as pd
from sqlalchemy import create_engine

In [5]:
#Step 1: Load the data 
df = pd.read_csv(r'C:\Users\cocou\OneDrive\Desktop\Portfolio\Data Analysis\Pizza-Sales-End-to-End-Analysis\data\pizza_sales.csv')
df.sample(frac=0.005)

,pizza_id,order_id,pizza_name_id,quantity,order_date,order_time,unit_price,total_price,pizza_size,pizza_category,pizza_ingredients,pizza_name
15590,15591,6831,thai_ckn_l,1,25-04-2015,13:44:04,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",The Thai Chicken Pizza
10193,10194,4466,cali_ckn_s,1,16-03-2015,19:51:03,12.75,12.75,S,Chicken,"Chicken, Artichoke, Spinach, Garlic, Jalapeno ...",The California Chicken Pizza
34178,34179,15089,ital_veggie_s,1,09-09-2015,21:24:07,12.75,12.75,S,Veggie,"Eggplant, Artichokes, Tomatoes, Zucchini, Red ...",The Italian Vegetables Pizza
38274,38275,16884,thai_ckn_l,1,14-10-2015,12:07:21,20.75,20.75,L,Chicken,"Chicken, Pineapple, Tomatoes, Red Peppers, Tha...",The Thai Chicken Pizza
32732,32733,14469,peppr_salami_s,1,29-08-2015,21:46:42,12.50,12.50,S,Supreme,"Genoa Salami, Capocollo, Pepperoni, Tomatoes, ...",The Pepper Salami Pizza
...,...,...,...,...,...,...,...,...,...,...,...,...
10608,10609,4645,bbq_ckn_l,1,19-03-2015,19:21:02,20.75,20.75,L,Chicken,"Barbecued Chicken, Red Peppers, Green Peppers,...",The Barbecue Chicken Pizza
17873,17874,7843,the_greek_s,1,12-05-2015,14:59:06,12.00,12.00,S,Classic,"Kalamata Olives, Feta Cheese, Tomatoes, Garlic...",The Greek Pizza
43931,43932,19311,pepperoni_s,1,26-11-2015,12:40:36,9.75,9.75,S,Classic,"Mozzarella Cheese, Pepperoni",The Pepperoni Pizza
22,23,9,veggie_veg_s,1,01-01-2015,12:52:01,12.00,12.00,S,Veggie,"Mushrooms, Tomatoes, Red Peppers, Green Pepper...",The Vegetables + Vegetables Pizza
11924,11925,5234,prsc_argla_m,1,29-03-2015,19:05:13,16.50,16.50,M,Supreme,"Prosciutto di San Daniele, Arugula, Mozzarella...",The Prosciutto and Arugula Pizza

In [8]:
# Step 2: Connect to Postgres
engine = create_engine("postgresql://postgres:Mariette%401967@localhost:5432/PizzaDB")

In [9]:
#Step 3: Export the dataframe to SQL

table_name = 'pizza_sales'
df.to_sql(table_name, engine, if_exists='replace', index=False)

print(f'Table {table_name} exported and data inserted successfully!')

Table pizza_sales exported and data inserted successfully!