#### KPI QUERIES FOR PIZZA_SALES

In [1]:
%load_ext sql

In [2]:
%sql postgresql://postgres:Mariette%401967@localhost:5432/PizzaDB

In [3]:
%config SqlMagic.autopandas = True

In [ ]:
%%sql 
SELECT NOW()

 * postgresql://postgres:***@localhost:5432/PizzaDB
1 rows affected.

KeyError: 'DEFAULT'

In [7]:
import pandas as pd
from sqlalchemy import create_engine

engine = create_engine('postgresql://postgres:Mariette%401967@localhost:5432/PizzaDB')
pd.read_sql_query('SELECT NOW()', engine)

                               now
0 2025-05-20 14:10:11.632558+00:00

In [8]:
pd.read_sql_query(
"""	
SELECT 
	CAST(SUM(total_price) AS NUMERIC(10,3)) AS total_revenue
FROM
	pizza_sales
""" 
	, engine)

   total_revenue
0      817860.05